<div class="body">
  <div class="container">
    <div class="container-body secondary article-buttons">
      <h5 class="primary-color tac">Feel free to guide people!</h5>
      <form>
        <div class="row">
          <label class="primary-color"
            >What title would you like to give?</label
          >
          <input
            [(ngModel)]="title"
            [ngModelOptions]="{ standalone: true }"
            required
            type="text"
            class="u-full-width cust-sec-inp"
          />
        </div>
        <div class="row">
          <label class="primary-color">Provide a brief for the article.</label>
          <input
            [(ngModel)]="brief"
            [ngModelOptions]="{ standalone: true }"
            required
            type="text"
            class="u-full-width cust-sec-inp"
          />
        </div>
        <div class="row">
          <label class="primary-color">Start writing.</label>
          <textarea
            [(ngModel)]="body"
            [ngModelOptions]="{ standalone: true }"
            required
            type="text"
            class="u-full-width cust-sec-inp"
          ></textarea>
        </div>
        <div class="row">
          <label class="primary-color">What can we call you, author?</label>
          <input
            [(ngModel)]="author"
            [ngModelOptions]="{ standalone: true }"
            required
            type="text"
            class="u-full-width cust-sec-inp"
          />
        </div>
        <a (click)="addReport()" class="cust-sec-btn button u-full-width"
          >Post the article</a
        >
      </form>
    </div>
    <div class="hr"></div>
    <h5 style="margin-bottom: 0" class="secondary-color tac">Read Articles</h5>
    <div class="cards row">
      <div *ngFor="let article of articleArr" class="twelve columns">
        <div class="primary card">
          <div class="card-name tac primary-color">{{ article.title }}</div>
          <div class="card-body">
            <p class="tac primary-color">{{ article.brief }}</p>
            <p class="tac primary-color">{{ article.author }}</p>
            <a
              [routerLink]="'/article/' + article._id"
              class="cust-sec-btn u-full-width button card-button"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
