<div class="container" style="margin-bottom: 1em">
  <div class="report-buttons secondary container-body">
    <h5 class="primary-color tac">Connect to K.R. Mangalam, GK-II!</h5>
    <p style="margin: 0 0 1em 0; font-size: 0.75em" class="primary-color tac">
      (Click email to copy)
    </p>

    <div class="row tac">
      <h5
        class="primary-color"
        style="cursor: pointer"
        (click)="copyToClipboard('gk@krmangalam.com')"
        class="primary-color"
      >
        gk@krmangalam.com
      </h5>
    </div>
    <div class="row tac">
      <h5 class="primary-color" style="cursor: pointer" class="primary-color">
        Visit Us:&nbsp; K.R. Mangalam World School S Block, Greater Kailash –
        II, New Delhi-48
      </h5>
    </div>
    <div class="row tac">
      <h5 class="primary-color" style="cursor: pointer" class="primary-color">
        Phone:&nbsp; 011-29210341/42
      </h5>
    </div>
  </div>
</div>

<app-footer></app-footer>
