<div class="landing">
  <div class="container landing-items">
    <h1 class="big-text">Bullying is not Acceptable!</h1>
    <a
      [routerLink]="'/reports'"
      style="margin-right: 1em"
      class="cust-sec-btn button"
      >Report an Incident</a
    >
    <a [routerLink]="'/counselor'" class="cust-btn button"
      >Connect to Counselor</a
    >
  </div>
</div>
<div class="photo">
  <div class="container">
    <h3 class="photo-title tac">The Three S's of Bullying</h3>
    <div class="row">
      <div class="four columns photo-card">
        <h4 class="tac">Share</h4>
        <p class="tac">
          If ever you are facing problems in your school, or university, the
          first step should be sharing what all is happening to a trusted person
        </p>
      </div>
      <div class="four columns photo-card">
        <h4 class="tac">Stop</h4>
        <p class="tac">
          You as a by-stander of a bullying situation should intervene and try
          to handle the situation by stopping the bully to your full extent
        </p>
      </div>
      <div class="four columns photo-card">
        <h4 class="tac">Spread</h4>
        <p class="tac">
          Lastly, but the most important step is to spread awareness about the
          bullying that is happening currently in our society
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
